<main class="c-newQuestion__home">
  <div class="c-newQuestion__wrapper">
    <h2 class="c-newQuestion__heading">New Question</h2>
    <hr>
    <form class="c-newQuestion__form">
      <mat-card-content class="c-newQuestion__content">
        <mat-label class="c-newQuestion__label">Title</mat-label>
        <input class="c-newQuestion__input" type="text"/>
      </mat-card-content>
      <mat-card-content class="c-newQuestion__content">
        <mat-label class="c-newQuestion__label">Text</mat-label>
        <textarea class="c-newQuestion__textarea" type="text"> </textarea>
      </mat-card-content>
      <mat-card-content class="c-newQuestion__content">
        <div class="c-newQuestion__categories">
          <p class="c-newQuestion__tags">
            Tags
          </p>
          <div class="c-newQuestion__category">
            <mat-label class="c-newQuestion__label" *ngFor="let category of categoryList">
              <mat-checkbox class="c-newQuestion__checkbox">{{category.item}}</mat-checkbox>
            </mat-label>
          </div>
        </div>
      </mat-card-content>
      <div class="c-newQuestion__buttons">
        <button class="c-newQuestion__button" type="submit" mat-raised-button>Ok</button>
        <button class="c-newQuestion__button" type="submit" mat-raised-button (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</main>
