.c-allQuestions {
  padding-top: 6rem;

  &__delete,
  &__approve {
    line-height: 1rem;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &__label {
    color: rgba(255, 255, 255, 0.7);
  }

  &__section {
    display: flex;
    width: 100%;

    &--tiled {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--line {
      align-items: center;
      flex-direction: column;
    }
  }
}

.mat-form-field-label {
  padding-bottom: 0.2rem;
}

@media (max-width: 688px) {
  .c-allQuestions {
    &__section--tiled {
      align-items: center;
      flex-direction: column;
    }
  }
}
