<mat-toolbar color="primary" class="c-app__header">
  <nav class = "c-app__navigation">
    <div class="c-app__home">
      <a class="c-app__link">Stack Overflow</a>
    </div>
    <ul class="c-app__buttons">
      <li routerLinkActive="active" class="c-app__button">
        <a mat-button mat-raised-button color="accent" routerLink="/login">Login</a>
      </li>
      <li class="c-app__button" routerLinkActive="active"><a mat-button mat-raised-button routerLink='/sign-up' >Sign Up</a></li>
    </ul>
  </nav>
</mat-toolbar>
