<main class="c-editQuestion__home">
  <div class="c-editQuestion__wrapper">
    <button
      class="c-editQuestion__button"
      type="submit"
      mat-raised-button
      (click)="onCancel()"
    >
      <mat-icon class="c-editQuestion__icon">cancel</mat-icon>
    </button>
    <h2 class="c-editQuestion__heading">Edit Question</h2>
    <hr />
    <form
      *ngIf="editQuestionForm"
      [formGroup]="editQuestionForm"
      novalidate
      (ngSubmit)="onSave()"
      class="c-editQuestion__form"
    >

      <mat-card-content class="c-editQuestion__content">
        <mat-form-field class="c-editQuestion__field" appearance="outline">
          <mat-label class="c-editQuestion__label">Title</mat-label>
          <input
            matInput
            class="c-editQuestion__input"
            type="text"
            formControlName="title"
          />
          <mat-error *ngIf="title.invalid && title.touched" class="c-editQuestion__error">
            {{getErrorTitle()}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content class="c-editQuestion__content">
        <mat-form-field class="c-editQuestion__field" appearance="outline">
          <mat-label class="c-editQuestion__label">Text</mat-label>
          <textarea
            matInput
            class="c-editQuestion__textarea"
            type="text"
            formControlName="textarea"
          >
          </textarea>
          <mat-error *ngIf="textarea.invalid && textarea.touched" class="c-editQuestion__error" >
            {{getErrorTextArea()}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content class="c-editQuestion__content">
        <div class="c-editQuestion__categories">
          <p class="c-editQuestion__tags">
            <mat-icon class="c-editQuestion__icon">tag</mat-icon>
          </p>
          <div class="c-editQuestion__category">
            <mat-label
              class="c-editQuestion__label"
              *ngFor="let tag of tagsFormArray.controls; let i = index"
              formArrayName="tags"
            >
              <mat-checkbox
                class="c-editQuestion__checkbox"
                [formControlName]="i"
                >{{ tagsData[i].item }}</mat-checkbox
              >
            </mat-label>
          </div>
        </div>
      </mat-card-content>

      <div class="c-editQuestion__buttons">
        <button
          class="c-editQuestion__button"
          type="submit"
          mat-raised-button
          [disabled]="editQuestionForm.invalid && editQuestionForm.dirty"
        >
          <mat-icon class="c-editQuestion__icon">save</mat-icon>
          <span class="c-editQuestion__save">Save</span>
        </button>
        <mat-error class="c-editQuestion__error">{{ error }}</mat-error>
      </div>

    </form>
  </div>
</main>
