<section class="c-screenQuestionsCard__home">
  <mat-card class="c-screenQuestionsCard__card mat-card">
    <button
      class="c-screenQuestionsCard__button"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="onBackAllQuestions()"
    >
      <mat-icon>backspace</mat-icon>
    </button>
    <div class="c-screenQuestionsCard__header">
      <div class="c-screenQuestionsCard__author">
        {{ questionObject?.author }}
      </div>
      <div class="c-screenQuestionsCard__date">
        {{ questionObject?.date | date: "MMM d, y, h:mm:ss a" }}
      </div>
    </div>
    <div class="c-screenQuestionsCard__main">
      <p
        class="c-screenQuestionsCard__tags"
        *ngFor="let tags of questionObject?.tags"
      >
        {{ tags }}
      </p>
    <mat-card-title class="c-screenQuestionsCard__title mat-card-title">{{
      questionObject?.title
    }}</mat-card-title>
    <hr />
    <mat-card-content class="c-screenQuestionsCard__content mat-card-content">
      <div class="c-screenQuestionsCard__textarea">
        {{ questionObject?.textarea }}
      </div>
    </mat-card-content>
      <div class="c-screenQuestionsCard__buttons">
        <small
          *ngIf="!questionObject?.isApproval && (questionObject?.author === authUser?.email || authUser?.role === 'ADMIN')"
          class="c-screenQuestionsCard__moderation"
          >Moderation</small
        >
        <button
          *ngIf="!questionObject?.isApproval && questionObject?.author === authUser?.email"
          class="c-screenQuestionsCard__button"
          type="submit"
          mat-raised-button
          color="accent"
          (click)="onEditQuestionById()"
        >
          <mat-icon class="c-screenQuestionsCard__icon">edit</mat-icon>
          <span class="c-screenQuestionsCard__edit">Edit</span>
        </button>
        <button
          *ngIf="!questionObject?.isApproval && authUser?.role === 'ADMIN'"
          class="c-screenQuestionsCard__button"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onApproveQuestions(questionObject.id)"
        >
          <mat-icon class="c-screenQuestionsCard__icon">approval</mat-icon>
          <span class="c-screenQuestionsCard__approve">Approve</span>
        </button>
        <button
          *ngIf="questionObject?.author === authUser?.email || authUser?.role === 'ADMIN'"
          class="c-screenQuestionsCard__button"
          type="submit"
          mat-raised-button
          color="warn"
          (click)="onRemoveQuestionById()"
        >
          <mat-icon class="c-screenQuestionsCard__icon">delete_forever</mat-icon>
          <span class="c-screenQuestionsCard__delete">Delete</span>
        </button>
      </div>
    </div>

    <mat-divider></mat-divider>

    <section
      class="c-screenQuestionsComments__home"
      *ngFor="let comment of commentsArray"
    >
      <div
        class="c-screenQuestionsComments__card"
        [ngClass]="{isBestCommentStyle: comment.isBestComment}"
      >
        <h5 class="c-screenQuestionsComments__title">Comment</h5>
        <div class="c-screenQuestionsComments__header">
          <div class="c-screenQuestionsComments__author">
            {{ comment.author }}
          </div>
          <div class="c-screenQuestionsComments__date">
            {{ comment.date | date: "MMM d, y, h:mm:ss a" }}
          </div>
        </div>
          <div class="c-screenQuestionsComments__textarea">
            {{ comment.textarea }}
          </div>
          <div class="c-screenQuestionsComments__resolve">
              <mat-label
                *ngIf="questionObject.author === authUser.email"
                class="c-screenQuestionsComments__label"
              >
                <mat-checkbox
                  [checked]="comment.isBestComment"
                  (change)="toggleIsBestComment($event, comment.id)"
                ></mat-checkbox>
                Resolve
              </mat-label>
          </div>
      </div>
      <mat-divider></mat-divider>
    </section>
  </mat-card>
</section>


<section class="c-screenQuestionsAnswer__home">
  <mat-card class="c-screenQuestionsAnswer__card">
    <h5 class="c-screenQuestionsAnswer__title">Answer</h5>

    <form
      [formGroup]="commentQuestionForm"
      novalidate
      class="c-screenQuestionsAnswer__form"
    >
      <mat-form-field class="c-screenQuestionsAnswer__field" appearance="outline">
        <mat-label class="c-screenQuestionsAnswer__label">Answer</mat-label>
        <textarea
          matInput
          class="c-screenQuestionsAnswer__textarea"
          type="text"
          placeholder="Input answer"
          formControlName="comment"
        ></textarea>
        <mat-error *ngIf="comment.invalid && comment.touched" class="c-screenQuestionsAnswer__error" >
          {{getErrorComment()}}
        </mat-error>
      </mat-form-field>
    </form>

    <div class="c-screenQuestionsAnswer__pushButton">
      <button
        class="c-screenQuestionsAnswer__button"
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="commentQuestionForm.invalid"
        (click)="onAddComment()"
      >
        <mat-icon class="c-screenQuestionsAnswer__icon">add_comment</mat-icon>
        <span class="c-screenQuestionsAnswer__addition">Post your answer</span>
      </button>
    </div>
  </mat-card>
</section>
