.c-newQuestion {
  &__home {
    position: relative;
    width: 90%;
    padding-top: 7rem;
    margin: 0 auto;
  }

  &__wrapper {
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: black;
  }

  &__heading {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: whitesmoke;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
    color: whitesmoke;
  }

  &__content {
    width: 100%;
    padding-bottom: 1rem;
    margin: 0 auto;
  }

  &__field {
    width: 100%;
  }

  &__label {
    width: 100%;
    padding-right: 1rem;
  }

  &__textarea {
    width: 100%;
    height: 5rem !important;
  }

  &__categories {
    display: flex;
  }

  &__category {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__tags {
    padding-right: 1rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    padding: 0.5rem;
    background-color: green;
    &:disabled {
      cursor: not-allowed;
      color: grey;
      background-color: grey;
    }
  }

  &__icon--absolute {
    position: absolute;
    top: 18.3%;
    right: 0;
    min-width: 54px;
    border-radius: 4px;
    background-color: red;
    color: black;
    cursor: pointer;
  }

  &__addition {
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    color: white;
  }
}

@media (max-width: 500px) {
  .c-newQuestion {
    &__category {
      flex-direction: column;
    }
  }
}
