<main class="c-newQuestion__home">

  <div class="c-newQuestion__wrapper">
    <h2 class="c-newQuestion__heading">New Question</h2>
    <hr />

    <form
      [formGroup]="newQuestionForm"
      novalidate
      (ngSubmit)="onSubmit()"
      class="c-newQuestion__form"
    >

      <mat-card-content class="c-newQuestion__content">
        <mat-form-field class="c-newQuestion__field" appearance="outline">
          <mat-label class="c-newQuestion__label">Title</mat-label>
          <input
            matInput
            class="c-newQuestion__input"
            type="text"
            formControlName="title"
          />
          <mat-error *ngIf="title.invalid && title.touched && title.dirty" class="c-newQuestion__error">
            {{getErrorTitle()}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content class="c-newQuestion__content">
        <mat-form-field class="c-newQuestion__field" appearance="outline">
          <mat-label class="c-newQuestion__label">Text</mat-label>
          <textarea
            matInput
            class="c-newQuestion__textarea"
            type="text"
            formControlName="textarea"
          >
          </textarea>
          <mat-error *ngIf="textarea.invalid && textarea.touched && title.dirty" class="c-newQuestion__error">
            {{getErrorTextarea()}}
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content class="c-newQuestion__content">
        <div class="c-newQuestion__categories">
          <p class="c-newQuestion__tags">
            <mat-icon class="c-newQuestion__icon">tag</mat-icon>
          </p>
          <div class="c-newQuestion__category">
            <mat-label
              class="c-newQuestion__label"
              *ngFor="let tag of tagsFormArray.controls; let i = index"
              formArrayName="tags"
            >
              <mat-checkbox
                class="c-newQuestion__checkbox"
                [formControlName]="i"
                >{{ tagsData[i].item }}</mat-checkbox
              >
            </mat-label>
          </div>
        </div>
      </mat-card-content>
      <div class="c-newQuestion__buttons">

        <button
          class="c-newQuestion__button"
          type="submit"
          mat-raised-button
          [disabled]="newQuestionForm.invalid"
        >
          <mat-icon class="c-newQuestion__icon">add_circle_outline</mat-icon>
          <span class="c-newQuestion__addition">Add</span>
        </button>

      </div>

      <mat-error class="c-newQuestion__error">{{ error }}</mat-error>

    </form>
  </div>

  <mat-icon class="c-newQuestion__icon c-newQuestion__icon--absolute" (click)="onCancel()">backspace</mat-icon>

</main>
