<mat-toolbar color='primary' class='c-app__header'>
  <nav class='c-app__navigation'>
    <div class='c-app__home'>
      <a class='c-app__stack'>Stack Overflow</a>
    </div>
    <button class='c-app__trigger' mat-button [matMenuTriggerFor]='menu'>
      <mat-icon class='c-app__icon'>menu</mat-icon>
    </button>
    <mat-menu class='c-app__menu' #menu='matMenu'>
      <li class='c-app__item'>
        <a class='c-app__link' mat-menu-item *ngIf='isLogUser'>{{ email }}</a>
      </li>
      <li routerLinkActive='active' class='c-app__item'>
        <button
          class='c-app__button'
          *ngIf='!isLogUser'
          mat-button
          mat-raised-button
          color='accent'
          routerLink='auth/login'
        >
          Login
        </button
        >
      </li>
      <mat-divider class='c-app__divider'></mat-divider>
      <li *ngIf='!isLogUser' class='c-app__item' routerLinkActive='active'>
        <button class='c-app__button' mat-button mat-raised-button routerLink='auth/sign-up'>Sign Up</button>
      </li>
      <li *ngIf='isLogUser' class='c-app__item' routerLinkActive='active'>
        <a
          class='c-app__link'
          type='button'
          mat-button
          mat-raised-button
          routerLink='/newQuestion'
          (click)='addQuestion()'
        >
          <mat-icon class='c-app__icon'>post_add</mat-icon>
          <span class='c-app__addition'>Add question</span>
        </a>
      </li>
      <mat-divider class='c-app__divider'></mat-divider>
      <li class='c-app__item' routerLinkActive='active'>
        <a class='c-app__link' *ngIf='isLogUser' mat-menu-item [matMenuTriggerFor]='profile'
        >
          <mat-icon class='c-app__icon'>person</mat-icon>
        </a
        >
      </li>
    </mat-menu>
    <mat-menu class='c-app__menu' #profile='matMenu' yPosition='above'>
      <a class='c-app__link' mat-menu-item>
        <mat-icon class='c-app__icon'>home</mat-icon>
      </a>
      <mat-divider class='c-app__divider'></mat-divider>
      <a class='c-app__link' mat-menu-item routerLink='/' (click)='signOut()'
      >
        <mat-icon class='c-app__icon'>logout</mat-icon>
      </a
      >
    </mat-menu>

    <ul class='c-app__buttons c-app__buttons--hide'>
      <li class='c-app__item'>
        <a class='c-app__link' mat-menu-item *ngIf='isLogUser'>{{ email }}</a>
      </li>
      <li routerLinkActive='active' class='c-app__item'>
        <button
          class='c-app__button'
          *ngIf='!isLogUser'
          mat-button
          mat-raised-button
          color='accent'
          routerLink='auth/login'
        >
          Login
        </button
        >
      </li>
      <li *ngIf='!isLogUser' class='c-app__item' routerLinkActive='active'>
        <button class='c-app__button' mat-button mat-raised-button routerLink='auth/sign-up'>Sign Up</button>
      </li>
      <li *ngIf='isLogUser' class='c-app__item' routerLinkActive='active'>
        <a
          class='c-app__link'
          type='button'
          mat-button
          mat-raised-button
          routerLink='/newQuestion'
          (click)='addQuestion()'
        >
          <mat-icon class='c-app__icon'>post_add</mat-icon>
          <span class='c-app__addition'>Add question</span>
        </a>
      </li>
      <li class='c-app__item' routerLinkActive='active'>
        <a
          class='c-app__link'
          *ngIf='isLogUser'
          mat-button
          mat-raised-button
          [matMenuTriggerFor]='profile'
        >
          <mat-icon class='c-app__icon'>person</mat-icon>
        </a
        >
        <mat-menu class='c-app__menu' #profile='matMenu'>
          <a mat-menu-item class='c-app__link'>
            <mat-icon class='c-app__icon'>home</mat-icon>
          </a>
          <a mat-menu-item class='c-app__link' routerLink='/' (click)='signOut()'
          >
            <mat-icon class='c-app__icon'>logout</mat-icon>
          </a
          >
        </mat-menu>
      </li>
    </ul>
  </nav>
</mat-toolbar>
