.c-app {
  &__header {
    display: flex;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  &__navigation {
    height: 100%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__home {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__buttons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    padding: 0.5rem 0 !important;
  }

  &__item {
    margin-left: 1rem;
  }

  &__trigger {
    display: none;
  }

  &__addition {
    line-height: 1rem;
    letter-spacing: 0.05rem;
    font-size: 0.7rem;
    padding: 0 1rem;
  }

  &__link {
    word-break: break-word;
    background-color: green;
  }
}

@media (max-width: 850px) {
  .c-app {
    &__trigger {
      display: block;
    }

    &__buttons--hide {
      display: none;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding-bottom: 0.3rem;
    }
  }
}

.mat-menu-item {
  height: auto;
  line-height: 1rem;
}
