<main class="c-everyQuestions">
  <mat-toolbar color="accent" class="c-everyQuestions__main">
    <ul class="c-everyQuestions__list">
      <li class="c-everyQuestions__item">
        <button
          class="c-everyQuestions__trigger"
          type="button"
          mat-button
          mat-raised-button
          [matMenuTriggerFor]="filters"
        >
          <mat-icon class="c-everyQuestions__icon">filter_alt</mat-icon>
          <span class="c-everyQuestions__filters">Filters</span>
        </button>
        <mat-menu class="c-everyQuestions__menu" #filters="matMenu"  >
          <form
            [formGroup]="filterQuestionsForm"
            class="c-everyQuestions__form"
          >
            <mat-icon class="c-everyQuestions__icon">question_answer</mat-icon>
            <mat-label
              class="c-everyQuestions__label"
              *ngFor="let status of statusFormArray.controls; let i = index"
              formArrayName="status"
            >
              <mat-checkbox
                class="c-everyQuestions__checkbox"
                [formControlName]="i"
                [checked]="status.value"
                [id]="questionsStatusData[i].id"
                [name]="questionsStatusData[i].item"
                (change)="onFilterByStatusQuestions($event)"
                >{{ questionsStatusData[i].item }}</mat-checkbox
              >
            </mat-label>
            <mat-divider class="c-everyQuestions__divider"></mat-divider>
            <mat-icon class="c-everyQuestions__icon">tag</mat-icon>
            <mat-label
              class="c-everyQuestions__label"
              *ngFor="let tag of tagsFormArray.controls; let i = index"
              formArrayName="tags"
            >
              <mat-checkbox
                class="c-everyQuestions__checkbox"
                [formControlName]="i"
                [name]="tagsData[i].item"
                (change)="onFilterByTags($event)"
                >{{ tagsData[i].item }}</mat-checkbox
              >
            </mat-label>
            <mat-divider class="c-everyQuestions__divider"></mat-divider>
            <mat-icon class="c-everyQuestions__icon">timeline</mat-icon>
            <mat-label
                class="c-everyQuestions__label"
                *ngFor="let time of timeFormArray.controls; let i = index"
                formArrayName="time"
            >
              <mat-checkbox
                class="c-everyQuestions__checkbox"
                [formControlName]="i"
                [checked]="time.value"
                [id]="questionsTimeData[i].id"
                [name]="questionsTimeData[i].value"
                (change)="onFilterPerPeriodOfTime($event)"
                >{{questionsTimeData[i].item}}</mat-checkbox
              >
            </mat-label>
          </form>
        </mat-menu>
      </li>
      <li class="c-everyQuestions__item">
        <button
          class="c-everyQuestions__trigger"
          type="button"
          mat-button
          mat-raised-button
          (click)="onSortQuestions()"
        >
          <mat-icon class="c-everyQuestions__icon" *ngIf="this.isSortQuestions">sort arrow_upward</mat-icon>
          <mat-icon class="c-everyQuestions__icon" *ngIf="!this.isSortQuestions">sort arrow_downward</mat-icon>
          <span class="c-everyQuestions__sort">Sort</span>
        </button>
      </li>
      <li class="c-everyQuestions__item">
        <button
          class="c-everyQuestions__trigger"
          type="button"
          mat-button
          mat-raised-button
          [matMenuTriggerFor]="settings"
        >
          <mat-icon class="c-everyQuestions__icon">settings</mat-icon>
          <span class="c-everyQuestions__settings">Settings</span>
        </button>
        <mat-menu class="c-everyQuestions__menu" #settings="matMenu">
          <form class="c-everyQuestions__form">
            <mat-icon class="c-everyQuestions__icon">view_module</mat-icon>
            <mat-radio-group
              class="c-everyQuestions__label"
              name="display"
              *ngFor="let display of questionsDisplayData">
              <mat-radio-button
                class="c-everyQuestions__button mat-radio-button"
                name="display"
                [checked]="display.checked"
                [value]="display.name"
                (change)="onDisplayQuestions(display.name)"
                >{{display.name}} display</mat-radio-button
              >
            </mat-radio-group>
          </form>
          <mat-divider class="c-everyQuestions__divider"></mat-divider>
          <form class="c-everyQuestions__form">
            <mat-icon class="c-everyQuestions__icon">palette</mat-icon>
            <mat-radio-group
              class="c-everyQuestions__label"
              name="theme"
              *ngFor="let theme of themeData"
            >
              <mat-radio-button
                class="c-everyQuestions__button mat-radio-button"
                name="theme"
                [checked]="theme.checked"
                [value]="theme.name"
                (change)="onChangeTheme(theme.name)"
              >{{ theme.name }} theme
              </mat-radio-button
              >
            </mat-radio-group>
          </form>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar>

  <section
    class="c-everyQuestions__section"
    [ngClass]='isLineDisplay ? "c-everyQuestions__section--line" : "c-everyQuestions__section--tiled"'
  >
    <mat-card
      class="c-everyQuestions__card"
      [ngClass]='isLineDisplay ? "c-everyQuestions__card--line" : null'
      *ngFor="
        let question of questionsArray
          | filterByStatusQuestions: statusQuestions
          | filterByTags: electedTags
          | filterPerPeriodOfTime: timeQuestions
          | filterBySort: isSortQuestions
      "
    >
        <p class="c-everyQuestions__date">
          {{ question.date | date: "MMM d, y, h:mm:ss a" }}
        </p>
        <small class="c-everyQuestions__tag" *ngFor="let tag of question.tags">
          {{ tag }}
        </small>

      <mat-card-title
        class="c-everyQuestions__title"
        (click)="onOpenScreenQuestionById(question.id)"
        >
        {{ question.title }}
      </mat-card-title>

      <hr />

      <div class="c-everyQuestions__buttons">
        <small
          *ngIf="!question.isApproval && (question.author === authUser.email || authUser.role === 'ADMIN')"
          class="c-everyQuestions__moderation"
          >
          Moderation
        </small
        >
        <button
          *ngIf="!question.isApproval && authUser.role === 'ADMIN'"
          class="c-everyQuestions__button"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onApproveQuestion(question.id)"
        >
          <mat-icon class="c-everyQuestions__icon">approval</mat-icon>
          <span class="c-everyQuestions__approve">Approve</span>
        </button>
        <button
          *ngIf="question.author === authUser.email || authUser.role === 'ADMIN'"
          class="c-everyQuestions__button"
          mat-raised-button
          color="warn"
          (click)="onRemoveQuestionById(question.id)"
        >
          <mat-icon class="c-everyQuestions__icon">delete_forever</mat-icon>
          <span class="c-everyQuestions__delete">Delete</span>
        </button>
      </div>

    </mat-card>
  </section>
</main>
