<main class="c-everyQuestions">
  <mat-toolbar color="accent" class="c-everyQuestions__main">
    <ul class="c-everyQuestions__list">
      <li class="c-everyQuestions__item">
        <button type="button" mat-button mat-raised-button [matMenuTriggerFor]="filters">Filters</button>
        <mat-menu #filters="matMenu">
          <form [formGroup]="formOnQuestions" class="c-everyQuestions__form">
            <mat-label class="mat-form-field-label">
              <mat-radio-button checked class="mat-radio-button" formControlName="questions" ngDefaultControl value="allQuestions" (click)="onFilterOnQuestions('allQuestions')">All</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="questions" ngDefaultControl value="responded" (click)="onFilterOnQuestions('responded')">Responded</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="questions" ngDefaultControl value="noReply" (click)="onFilterOnQuestions('noReply')">Make no reply</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="questions" ngDefaultControl value="resolve" (click)="onFilterOnQuestions('resolve')">Resolve</mat-radio-button>
            </mat-label>
          </form>
          <form [formGroup]="formTags" class="c-everyQuestions__form">
            <mat-label class="mat-form-field-label" *ngFor="let tag of tagsFormArray.controls, let i=index" formArrayName="tags">
              <mat-checkbox [formControlName]="i" [name]="tagsData[i].item" (change)="onFilterByTags($event)">{{tagsData[i].item}}</mat-checkbox>
            </mat-label>
          </form>
          <form [formGroup]="formPerPeriodOfTime" class="c-everyQuestions__form">
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="periodOfTime" ngDefaultControl value="day" (click)="onFilterPerPeriodOfTime(1)">Per day</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="periodOfTime" ngDefaultControl value="week" (click)="onFilterPerPeriodOfTime(7)">Per week</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="periodOfTime" ngDefaultControl value="month" (click)="onFilterPerPeriodOfTime(30)">Per month</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" formControlName="periodOfTime" ngDefaultControl value="allTime" (click)="onFilterPerPeriodOfTime(365)">Per all time</mat-radio-button>
            </mat-label>
          </form>
        </mat-menu>
      </li>
      <li class="c-everyQuestions__item">
        <button type="button" mat-button mat-raised-button (click)="onSortQuestions()">Sort</button>
      </li>
      <li class="c-everyQuestions__item">
        <button type="button" mat-button mat-raised-button [matMenuTriggerFor]="settings">Settings</button>
        <mat-menu #settings="matMenu">
          <form class="c-everyQuestions__form">
            <mat-label class="mat-form-field-label">
              <mat-radio-button  class="mat-radio-button" value="tiled" (click)="onDisplayQuestions('tiled')">Tiled display</mat-radio-button>
            </mat-label>
            <mat-label class="mat-form-field-label">
              <mat-radio-button class="mat-radio-button" value="line" (click)="onDisplayQuestions('line')">Line display</mat-radio-button>
            </mat-label>
          </form>
          <form class="c-everyQuestions__form">
            <mat-label class="mat-form-field-label" *ngFor="let theme of themeData">
              <mat-radio-button class="mat-radio-button" (click)="onChangeTheme(theme.name)">{{theme.name}} theme</mat-radio-button>
            </mat-label>
          </form>
        </mat-menu>
      </li>
    </ul>
  </mat-toolbar>

  <div class="c-everyQuestions__section c-everyQuestions__section--tiled" *ngIf="isLineDisplay === false">
    <mat-card class="c-everyQuestions__card" *ngFor="let question of questionsArray | filterOnQuestions: electedQuestions | filterByTags: electedTags | filterPerPeriodOfTime: perPeriodOfTime | filterBySort: isSortQuestions ">
      <mat-card-title class="c-everyQuestions__title" (click)="onOpenScreenQuestionById(question.key)">{{question.title}}</mat-card-title>
      <hr>
      <mat-card-content class="c-everyQuestions__content">
        <p class="c-everyQuestions__date">{{question.date | date: 'MMM d, y, h:mm:ss a'}}</p>
        <a class="c-everyQuestions__tag" *ngFor="let tag of question['tags']">{{tag}} </a>
      </mat-card-content>
      <hr>
      <div class="c-everyQuestions__buttons">
        <button class="c-everyQuestions__button" type="submit" mat-raised-button color="primary">Approve</button>
        <button class="c-everyQuestions__button" mat-raised-button color="warn" (click)="onRemoveQuestionById(question.key)">Delete</button>
      </div>
    </mat-card>
  </div>

  <div class="c-everyQuestions__section c-everyQuestions__section--line" *ngIf="isLineDisplay === true">
    <mat-card class="c-everyQuestions__card" *ngFor="let question of questionsArray | filterOnQuestions: electedQuestions | filterByTags: electedTags | filterPerPeriodOfTime: perPeriodOfTime | filterBySort: isSortQuestions ">
      <mat-card-title class="c-everyQuestions__title" (click)="onOpenScreenQuestionById(question.key)">{{question.title}}</mat-card-title>
      <hr>
      <mat-card-content class="c-everyQuestions__content">
        <p class="c-everyQuestions__date">{{question.date | date: 'MMM d, y, h:mm:ss a'}}</p>
        <a class="c-everyQuestions__tag" *ngFor="let tag of question['tags']">{{tag}} </a>
      </mat-card-content>
      <hr>
      <div class="c-everyQuestions__buttons">
        <button class="c-everyQuestions__button" type="submit" mat-raised-button color="primary">Approve</button>
        <button class="c-everyQuestions__button" mat-raised-button color="warn" (click)="onRemoveQuestionById(question.key)">Delete</button>
      </div>
    </mat-card>
  </div>
</main>


