.c-everyQuestions {
  padding-top: 6rem;

  &__main {
    padding: 0rem 2rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__filters {
    margin-top: 25rem;

  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

  &__section {
    display: flex;
  }

  &__section--tiled {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__section--line {
    align-items: center;
    flex-direction: column;
  }


  &__card {
    margin: 3rem;
    width: 15rem;
    height: auto;
  }

  &__title {
    text-align: center;
    cursor: pointer;
  }

  &__content {
    padding: 0.2rem;
  }

  &__date {
    text-align: center;
  }

  &__tag {
    padding: 0.2rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
  }

  &__button {
    margin-left: 0.4rem;
  }

}

.mat-form-field-label {
  padding-bottom: 0.2rem;
}



