@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import '~font-awesome/scss/font-awesome.scss';
$fa-font-path: "../node_modules/font-awesome/fonts";


:root {
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: lightskyblue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


