<div class="c-screenQuestionsCard__home">
    <mat-card class="c-screenQuestionsCard__card mat-card">
    <div class="c-screenQuestionsCard__header">
      <div class="c-screenQuestionsCard__author">{{questionObject?.author}}</div>
      <div class="c-screenQuestionsCard__date">{{questionObject?.date | date: 'MMM d, y, h:mm:ss a'}}</div>
    </div>
      <mat-card-title class="c-screenQuestionsCard__title mat-card-title">{{questionObject?.title}}</mat-card-title>
      <hr>
      <mat-card-content class="c-screenQuestionsCard__content mat-card-content">
        <div class="c-screenQuestionsCard__textarea">{{questionObject?.textarea}}</div>
      </mat-card-content>
        <mat-card-footer class="c-screenQuestionsCard__footer">
          <p class="c-screenQuestionsCard__tags" *ngFor="let tags of questionObject?.tags">{{tags}}</p>
          <div class="c-screenQuestionsCard__buttons">
            <small class="c-screenQuestionsCard__moderation">Moderation</small>
            <button class="c-screenQuestionsCard__button" type="submit" mat-raised-button color="accent" (click)="onEditQuestionById()">Edit</button>
            <button class="c-screenQuestionsCard__button" type="submit" mat-raised-button color="primary">Approve</button>
            <button class="c-screenQuestionsCard__button" type="submit" mat-raised-button color="warn" (click)="onRemoveQuestionById()">Delete</button>
            <button class="c-screenQuestionsCard__button" type="submit" mat-raised-button color="primary" (click)="onBackEveryQuestions()">Back</button>
          </div>
        </mat-card-footer>
    </mat-card>
</div>
<div class="c-screenQuestionsComments__home">
    <mat-card class="c-screenQuestionsComments__card mat-card">
      <h5 class="c-screenQuestionsComments__title">Comment</h5>
      <div class="c-screenQuestionsComments__content">
        <div class="c-screenQuestionsComments__author">Author</div>
        <div class="c-screenQuestionsComments__textarea">Textarea</div>
        <mat-card-footer class="c-screenQuestionsComments__footer">
          <div class="c-screenQuestionsComments__date">Date</div>
          <div class="c-screenQuestionsComments__resolve">
            <mat-label class="c-screenQuestionsComments__label">
              <mat-checkbox></mat-checkbox>
              Resolve
            </mat-label>
          </div>
        </mat-card-footer>
      </div>
    </mat-card>
</div>

<div class="c-screenQuestionsAnswer__home">
  <mat-card class="c-screenQuestionsAnswer__card mat-card">
    <h5 class="c-screenQuestionsAnswer__title">Answer</h5>
    <form class="c-screenQuestionsAnswer__form">
      <div class="c-screenQuestionsAnswer__item">
        <textarea class="c-screenQuestionsAnswer__textarea" placeholder="Input answer"></textarea>
      </div>
      <div class="c-screenQuestionsAnswer__item">
        <button class="c-screenQuestionsAnswer__button" type="submit" mat-raised-button color="primary">Add Answer</button>
      </div>
    </form>
  </mat-card>
</div>
