.c-home {
  padding-top: 6rem;

  &__main {
    padding: 0rem 2rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }

}

.mat-form-field-label {
  padding-bottom: 0.2rem;
}
