<mat-toolbar color="primary" class="c-home__header">
  <nav class = "c-home__navigation">
    <div class="c-home__home">
      <a class="c-home__link" routerLink="/">Stack Overflow</a>
    </div>
    <div class="c-home__home">
      <a class="c-home__link">{{email}}</a>
    </div>
    <ul class="c-home__buttons">
      <li class="c-home__button" routerLinkActive="active">
        <a mat-button mat-raised-button routerLink='/' (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>

